* {
    font-family: "Poppins", sans-serif;
    list-style: none;
}

:root {
    --color-white: #ffffff;
    --color-green: #2fc07c;
}
  
body{
    cursor: url(../images/hand-robot.gif), default;
    background-color: var(--color-white);
}

.hero{
    max-height: 90vh;
}

.bg-green{
    background-color: var(--color-green);
}

.color-green{
    color: var(--color-green);   
}
  
::selection{
    background-color: var(--color-green);
}

.img-carousel{
    max-width: 60rem;
}

.img-kiwi{
    max-width: 80rem;
}

.card-img-top {
    height: 9rem; 
    object-fit: cover; 
    width: 100%; 
}