* {
    font-family: "Poppins", sans-serif;
    list-style: none;
}

:root {
    --color-white: #ffffff;
    --color-green: #2fc07c;
}
  
body{
    cursor: url(../images/hand-robot.gif), default;
    background-color: var(--color-white);
}

/* background: rgb(5,110,60); */
    /* background: radial-gradient(circle, rgba(5,110,60,1) 0%, rgba(2,34,20,1) 50%, rgba(0,0,0,1) 100%); */

.hero{
    max-height: 90vh;
}

.bg-green{
    background-color: var(--color-green);
}

.color-green{
    color: var(--color-green);   
}
  
::selection{
    background-color: var(--color-green);
}

.img-carousel{
    max-width: 600px;
}

.img-kiwi{
    max-width: 800px;
}

.card-img-top {
    height: 150px; 
    object-fit: cover; 
    width: 100%; 
}